:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #23252C;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 15.36px
}

.container{
  width: 40%;
  margin: 0 auto;
  background-color: #1A1B21;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}



#root{
  margin: 0 auto;
}

.footer{
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  background-color: #161619;
  height: 4em;
}

.footer > i{
  color: #918E9B;
  font-size: 2.5em;
}

.email-btn{
  background-color: #FFFFFF;
  color: #374151;
  margin-right: 2em;
}

.linkedin-btn{
  background-color: #5093E2;
  color: #FFFFFF;
}

button > i {
  color: inherit;
  margin-right: 0.3em;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.profile-pic {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.content-div{
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

h1{
  font-size: 25px;
  margin-bottom: 0;
}
h2{
  font-size: 12.8px;
  font-weight: 400;
  color: #F3BF99;
  margin-top: 0;
  margin-bottom: 0;
}
.site{
  margin-top: 0.5em;
  font-size: 10.5px;
}
